body {
  margin: 0;
  padding: 0;
}

.wdwe-container {
  width: 640px;
}

.canvas-container,
#wdwe {
  height: 480px;
}

#wdwe {
  z-index: 2;
  position: relative; /* z-index doesn't work in conjunction with .loading without this */
}

.controls {
  padding: 5px 0;
  width: 640px;
}

.controls .source {
  float: right;
}

.instructions {
  text-align: center;
  margin-top: 5px;
}

.canvas-container:hover,
.canvas-container>.year:hover{
  cursor: url('../images/tink.png') 8 9, pointer;
  animation: youcanfly 0.16s infinite;
}

#wdwe.point,
.point:hover {
  cursor: url('../images/tinkpoint.png') 8 9, pointer;
  animation: youcanfly-point 0.16s infinite;
}

.canvas-container {
  position: relative;
  background-color: #aaa;
}

.canvas-container .loading {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 3em;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  font-family: sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 3px #444;
  z-index: 1;
}

.canvas-container .year {
  font-family: 'Carter One', cursive;
  font-size: 12px;
  color: #000;
  top: 461px;
  text-align: center;
}

.canvas-container .year.highlight {
  color: #930600;
  text-shadow: 0 0 5px #91FA7E, 0 0 5px #FCFA7E, 0 0 8px #86E472;
}

.canvas-container .repeat-audio {
  width: 15px;
  height: 15px;
  top: 5px;
  left: 428px;
}

.slider {
  top: 442px;
  left: 132px;
  width: 503px;
  height: 16px;
}

.canvas-container .year,
.monorail {
  width: 42px;
  height: 14px;
  user-select: none;
}

.monorail {
  background-image: url('../images/timeline/monorail.png');
  top: 437px;
  left: 108px;
  visibility: hidden;
}

.wdwe-element {
  position: absolute;
  display: block;
}

.transparent {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  opacity: 0;
}

.layer1 {
  z-index: 3;
}

.layer2 {
  z-index: 4;
}

@keyframes youcanfly {
  0% {
    cursor: url('../images/tink.png') 8 9, pointer;
  }
  
  50% {
    cursor: url('../images/tink2.png') 8 9, pointer;
  }
}

@keyframes youcanfly-point {
  0% {
    cursor: url('../images/tinkpoint.png') 8 9, pointer;
  }
  
  50% {
    cursor: url('../images/tinkpoint2.png') 8 9, pointer;
  }
}